# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [6]:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
data.shape

(33702, 8)

Examine the `salaries` dataset using the `head` function below.

In [7]:
# Your code here:
data.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
8,"AGOSTINELLI, MICHAEL A",FIREFIGHTER (PER ARBITRATORS AWARD)-EMT,FIRE,F,Salary,NaN,107106.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [13]:
# Your code here:
data.columns = data.columns.str.lower().str.replace(' ', '_')
data.isnull().sum()
#we have 25528 employees with salary contracts, therefor we miss their Typical Hours and Hourly Rate data
#and we have 8174 hourly employees, for whon we miss the Annual Salary data.

name                     0
job_titles               0
department               0
full_or_part-time        0
salary_or_hourly         0
typical_hours        25528
annual_salary         8174
hourly_rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [19]:
# I'll do some cleaning here:
hourly_df = data[data['salary_or_hourly'] == 'Hourly'].reset_index(drop=True)
hourly_df = hourly_df.drop('annual_salary',axis=1)
salary_df = data[data['salary_or_hourly'] == 'Salary']
salary_df = salary_df.drop(columns=['typical_hours','hourly_rate'],axis=1).reset_index(drop=True)
hourly_df.head()
#salary_df.head()

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,hourly_rate
0,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,13.00
1,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,37.45
2,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,40.78
3,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,38.52
4,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,34.98

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [10]:
# Your code here:
display(data['Department'].value_counts(dropna=False))

Department
POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [47]:
import scipy.stats
from scipy.stats import ttest_1samp
#H0 :  the hourly wage of all hourly workers is not significantly different from $30/hr
#H1:  the hourly wage of all hourly workers is significantly different from $30/hr
hourly_wages = hourly_df['hourly_rate']
null_hypothesis = 30
alpha = 0.05
stat, p_value = ttest_1samp(hourly_wages, null_hypothesis)

print('stat is  ', stat)
print('pvalue for the two-tailed test is ', p_value)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [56]:
if p_value < alpha:
    print(f"Reject the null hypothesis. The hourly wage is significantly different from $30/hr")
else:
    print(f"Accept the null hypothesis, The hourly wage is not significantly different from $30/hr")

Reject the null hypothesis. The hourly wage is significantly different from $30/hr

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [63]:
# Filter rows for 'POLICE' and 'POLICE BOARD' departments
police_salaries = salary_df[salary_df['department'].isin(['POLICE', 'POLICE BOARD'])]['annual_salary']

#H0 : Police average annual salary =< $86000
#H1 : Police average annual salary > $86000
alpha = 0.05
null_hypothesis = 86000
t_statistic, p_value = ttest_1samp(police_salaries, null_hypothesis)
p_value
print('stat is  ', t_statistic)
print('pvalue for the one-tailed test is ', p_value/2)

stat is   18.519537603296808
pvalue for the one-tailed test is  5.894410139217735e-76

In [61]:
if (p_value/2) < alpha:
    print(f"Reject the null hypothesis. Salaries are significantly higher than $86000/year.")
else:
    print(f"Accept the null hypothesis. Salaries are not significantly higher than $86000/year.")

Reject the null hypothesis. Salaries are significantly higher than $86000/year.

In [62]:
np.mean(police_salaries)
#so it's true, the average of yearly salaries this year is higher than last year

88834.25632865615

Using the `crosstab` function, find the department that has the most hourly workers.

In [50]:
hourly_by_department = pd.crosstab(hourly_df['department'], hourly_df['salary_or_hourly'])
hourly_by_department
most_hourly_department = hourly_by_department['Hourly'].idxmax()
most_hourly_department

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [52]:
#H0 :  the hourly wage of STREETS & SAN employees is not significantly different from $35/hr
#H1:  the hourly wage of STREETS & SAN employees is significantly different from $35/hr
streets_san_hourly_wages = hourly_df[hourly_df['department'] == 'STREETS & SAN']['hourly_rate']
null_hypothesis = 35
alpha = 0.05
stat, p_value = ttest_1samp(streets_san_hourly_wages, null_hypothesis)

print('stat is  ', stat)
print('pvalue for the two-tailed test is ', p_value)

stat is   4.000138803968834
pvalue for the two-tailed test is  6.580474443773579e-05

In [55]:
if p_value < alpha:
    print(f"Reject the null hypothesis. Hourly wage is significantly less than $35/hr for STREETS & SAN employees.")
else:
    print(f"Accept the null hypothesis. Hourly wage is not significantly less than $35/hr for STREETS & SAN employees.")

Reject the null hypothesis. Hourly wage is significantly less than $35/hr for STREETS & SAN employees.

In [54]:
np.mean(streets_san_hourly_wages)

35.5522968580715

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [67]:
from scipy.stats import t, sem
confidence_level = 0.95
hourly_wages = hourly_df[hourly_df['salary_or_hourly'] == 'Hourly']['hourly_rate']
np.mean(hourly_wages)

34.58644971862002

In [66]:
scipy.stats.sem(hourly_wages)*stat

0.5878101116058937

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [68]:
np.mean(police_salaries)

88834.25632865615

In [69]:
scipy.stats.sem(police_salaries)*stat

612.1869219150184

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: